/*classe*/
.nom {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4E8397;
    border-radius: 10px;
}

.Language {
    padding: 10px;
    background-color: #B85042;
    border-radius: 10px;
    height: fit-content;
}

.lang {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 30px;
    height: fit-content;
}

.langue {
    padding: 10px;
    background-color: #4E8397;
    border-radius: 10px;
}

.langue:hover .invisible{
    display: block;
}

.software {
    padding: 10px;
    background-color: #234E70;
    border-radius: 10px;
}

.soft {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.invisible {
    display: none;
}

.training {
    padding: 10px;
    background-color: #B85042;
    border-radius: 10px;
}

.needed{
    padding: 10px;
    background-color: #234E70;
    border-radius: 10px;
}

.moy {
    padding: 10px;
    background-color: #4E8397;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}
/*Container*/
.container {
    text-align: center;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-gap: 20px;
    border-radius: 10px;
    padding: 15px;
    margin-top : 50px;
}

.container2 {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    border-radius: 10px;
    padding: 15px;
}
